# Assignments:

Model an organisation of employees, management and board of directors in 3 sets.
Board of directors: Benny, Hans, Tine, Mille, Torben, Troels, Søren

Management: Tine, Trunte, Rane

Employees: Niels, Anna, Tine, Ole, Trunte, Bent, Rane, Allan, Stine, Claus, James, Lars

- who in the board of directors is not an employee?
- who in the board of directors is also an employee?
- how many of the management is also member of the board?
- All members of the managent also an employee
- All members of the management also in the board?
- Who is an employee, member of the management, and a member of the board?
- Who of the employee is neither a memeber or the board or management?

In [35]:
Board_of_directors = {"Benny", "Hans", "Tine", "Mille", "Torben", "Troels", "Søren"}

Management = {"Tine", "Trunte", "Rane"}

Employees = {"Niels", "Anna", "Tine", "Ole", "Trunte", "Bent", "Rane", "Allan", "Stine", "Claus", "James", "Lars"}

directors_not_emp = Board_of_directors.difference(Employees)
print("Directors who is not an employee: ",  directors_not_emp)

directors_is_emp = Board_of_directors.intersection(Employees)
print("Directors who is an employee ", directors_is_emp)


maneger_is_director = Management.intersection(Board_of_directors)
manegerns_is_board = len(maneger_is_director)
print("Number of manegers who is a director: ", manegerns_is_board)

is_members_also_employee = Management.issubset(Employees)
print("Is members also an employee: ", is_members_also_employee)

is_members_also_board = Management.issubset(Board_of_directors)
print("Is members also an director: ", is_members_also_board)

employee_who_is_everything = Employees.intersection(Board_of_directors, Management)
print("Employee who is everything: ",employee_who_is_everything)


employee_who_is_not_everything = Employees.difference(Management, Board_of_directors)
print("Employee who is not everything: ", employee_who_is_not_everything)

Directors who is not an employee:  {'Torben', 'Hans', 'Troels', 'Benny', 'Mille', 'Søren'}
Directors who is an employee  {'Tine'}
Number of manegers who is a director:  1
Is members also an employee:  True
Is members also an director:  False
Employee who is everything:  {'Tine'}
Employee who is not everything:  {'Lars', 'Allan', 'Niels', 'Ole', 'Bent', 'Claus', 'James', 'Anna', 'Stine'}

# Create a list of tuples from the folowing datastructure
- {‘a’: ‘Alpha’, ‘b’ : ‘Beta’, ‘g’: ‘Gamma’}

In [36]:
list_of_tuples = [('a','Alpha'),('b','Beta'),('g','Gamma')]
print(list_of_tuples)

[('a', 'Alpha'), ('b', 'Beta'), ('g', 'Gamma')]

# From these 2 sets:
{'a', 'e', 'i', 'o', 'u', 'y'}

{'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

 

# Create a:

- Union
- Symmetric Difference
- Difference
- disjoint

In [69]:
set1 = {'a', 'e', 'i', 'o', 'u', 'y', 'q'}

set2 = {'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

set3 = set1.union(set2)
print("Union: ",set3)
print("Union operator: ",set2|set1)

set3 = set1.symmetric_difference(set2)
print("Symmetric difference: ",set3)
print("Symmetric difference operator", set1^set2)

set3 = set1.difference(set2)
print("Difference: ", set3)
print("difference operator: ", set1 - set2)

set3 = set1.isdisjoint(set2)
print("Disjoint: ", set3)
set3 = set1 & set2
print("Disjoint operator: ", set3)

Union:  {'y', 'e', 'ø', 'å', 'æ', 'o', 'i', 'a', 'u', 'q'}
Union operator:  {'ø', 'å', 'æ', 'o', 'i', 'a', 'y', 'e', 'u', 'q'}
Symmetric difference:  {'ø', 'å', 'æ', 'q'}
Symmetric difference operator {'ø', 'å', 'æ', 'q'}
Difference:  {'q'}
difference operator:  {'q'}
Disjoint:  False
Disjoint operator:  {'o', 'i', 'a', 'y', 'e', 'u'}

# Date Decoder.
A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.

Create a dict suitable for decoding month names to numbers.

Create a function which uses string operations to split the date into 3 items using the "-" character.

Translate the month, correct the year to include all of the digits.

 

The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [10]:
month_date = {
    "JAN": "01",
    "FEB": "02",
    "MAR": "03",
    "APR": "04",
    "MAY": "05",
    "JUN": "06",
    "JUL": "07",
    "AUG": "08",
    "SEP": "09",
    "OCT": "10",
    "NOV": "11",
    "DEC": "12"
}

def translate_date(date_str):
   
    date_parts = date_str.split('-')

    
    day = date_parts[0]
    month = month_date[date_parts[1].upper()]
    

    year = date_parts[2]
    if int(year) < 50:
        year = "20" + year
    else:
        year = "19" + year

    return (int(year), int(month), int(day))


date_str = "8-MAR-85"
result = translate_date(date_str)
print(result)

(1985, 3, 8)